<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<server description="JMS Server">
  <featureManager>
    <feature>wasJmsServer-1.0</feature>
    <feature>wasJmsClient-2.0</feature>
    <feature>jndi-1.0</feature>
  </featureManager>

  <messagingEngine>
    <queue id="jms/maximo/int/queues/sqin"/>
    <queue id="jms/maximo/int/queues/sqout"/>
    <queue id="jms/maximo/int/queues/cqin"/>
    <queue id="jms/maximo/int/queues/cqinerr"/>
    <queue id="jms/maximo/int/queues/notf"/>
    <queue id="jms/maximo/int/queues/weather"/>
  </messagingEngine>

  <wasJmsEndpoint host="*" wasJmsPort="${env.MAXIMO_JMS_SERVICE_PORT}" wasJmsSSLPort="${env.MAXIMO_JMS_SERVICE_PORT}" />

  <jmsQueueConnectionFactory jndiName="jms/maximo/int/cf/intcf">
    <properties.wasJms remoteServerAddress="localhost:${env.MAXIMO_JMS_SERVICE_PORT}:BootstrapBasicMessaging" />
  </jmsQueueConnectionFactory>

  <jmsQueue id="sqin" jndiName="jms/maximo/int/queues/sqin">
    <properties.wasJms queueName="jms/maximo/int/queues/sqin"/>
  </jmsQueue>
  <jmsQueue id="sqout" jndiName="jms/maximo/int/queues/sqout">
    <properties.wasJms queueName="jms/maximo/int/queues/sqout"/>
  </jmsQueue>
  <jmsQueue id="cqin" jndiName="jms/maximo/int/queues/cqin">
    <properties.wasJms queueName="jms/maximo/int/queues/cqin"/>
  </jmsQueue>
  <jmsQueue id="cqinerr" jndiName="jms/maximo/int/queues/cqinerr">
    <properties.wasJms queueName="jms/maximo/int/queues/cqinerr"/>
  </jmsQueue>
  <jmsQueue id="notf" jndiName="jms/maximo/int/queues/notf">
    <properties.wasJms queueName="jms/maximo/int/queues/notf"/>
  </jmsQueue>
  <jmsQueue id="weather" jndiName="jms/maximo/int/queues/weather">
    <properties.wasJms queueName="jms/maximo/int/queues/weather"/>
  </jmsQueue>
</server>
